// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dimGray:#696969;

.content-comment {
	padding-left:10px;  //this line is valid ,why?
}

.timestamp-comment {
  color: $dimGray;
}

.span1 {
	margin-right:-40px;
}