<footer class="footer">
  <small>
    Copyrights @ <%= link_to '教师点评网',root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>